Repository Dallas-Makerspace/calendar, pull requests merged in 2023-03, with the labels that each got.

#154 chore: remove cakephp force HTTPS setting
  .docker/environment.conf
Labels: type/dev-env

#156 chore: easier local development (logs mounted locally, documentation, *nix permissions)
  .docker/prod/README.txt
  .docker/prod/build.sh
  .docker/prod/down.sh
  .docker/prod/logs.sh
  .docker/prod/start.sh
  .docker/prod/stop.sh
  .docker/startup.sh
  .docker/wait-for-it.sh
  README.md
  docker-compose.yml
  docs/local-dev.md
  setup.sh
Labels: type/bug, type/dev-env

#151 [DEV-56] Remove W9 File select & Update W9 Info
  src/Controller/EventsController.php
  src/Template/Events/add.ctp
Labels: type/enhancement, priority/high, php

#145 [Fix] Handle user not found in AD
  src/Auth/AdAuthenticate.php
Labels: type/bug, php

#147 [Fix] disable submit button on form submission
  webroot/js/app.js
Labels: type/bug, priority/high

#152 [DEV-59] Add Previews to Event View + Minor UI
  .docker/startup.sh
  src/Template/Events/index.ctp
  src/Template/Events/view.ctp
Labels: type/enhancement, priority/low, type/feature, php
